.InfoBox {
  /* border: 2px solid rgb(30, 255, 0); */
  margin: auto;
  padding: 10px;
}
.MyPhoto {
  /* border: 2px solid red; */
  height: auto;
}
.MyInfo {
  /* border: 2px solid red; */
  height: auto;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.ProfileImg {
  width: 40vh;
  border: 4px solid white;
  border-radius: 50%;
}

.who {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.flux {
  margin-top: 20px;
  font-family: neon;
  color: #d9ff00;
  font-size: 35px;
  line-height: 3vw;
  text-shadow: 0 0 3vw #fcff57;
  text-align: left;
  padding-left: 15px;
}

.my-Info{
    text-align: left;
    margin: 20px;
    text-align: justify;
}

.Blue{
    color: aquamarine;
}